@import 'react-loading-skeleton/dist/skeleton.css';
//
@import './_wp-global';
//
@import './_theme_colors';
@import './_theme_custom';
//
@import './header';
@import './_single';
//
@import './_tiptap';
@import './_tiptap_MenuBar';
@import './_tiptap_MenuItem';

//
.rights_reserved_text,
.author_description {
	a {
		text-decoration: underline;
	}
}
@media (min-width: 1024px) {
    .lg\:text-4xl {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}
.max-w-screen-md {
    max-width: 100%;
}

.ring-1, .ring-2{
    background-color: #f5f5f5;
}